header {
    height : 5em;
    margin : 0em;
}

#logo {
    height : 5em;
    width : 5em;
    padding : 1em;
}

body {
    /*background-image: url('bg.png');*/
    background-color: white;
}

#logo_min {
    height : 1.5em;
    width : 1.5em;
    padding : 0.1em;
}

#screen_start {
    width : 55em;
}

#screen_start:active {
    width : 30em;
}

#test {
    width : 30em;
}

.container_nav {
    display : flex;
    background-color: lightblue ;
    flex-direction : row;
    justify-content: center;
    border : 0.1em rgb(0,0,0) solid;
    padding-top : 0.5em;
    padding-bottom : 0.5em;
    justify-content: space-around;
    width : 55em;
    margin : auto;
}

.container_main {
    display : flex;
    flex-direction : column;
    justify-content: center;
    padding-top : 0.5em;
    padding-bottom : 0.5em;
    align-items: center;
}

.container_footer{
    display: flex;
    flex-direction : row;
    justify-content: center;
    border-top : 0.1em white solid;
    align-items: center;
    padding-top : 0.5em;
}

.bouton {
    height : 2.5em;
    width : 5em;
    background-color: black;
    color : white;
    border-radius : 1em;
    text-align: center;
}