header {
    height : 5em;
    margin : 0em;
}

#logo {
    height : 5em;
    width : 5em;
    padding : 1em;
}

#logo2 {
    height : 6em;
    width : 5em;
    padding : 1em;
}

body {
    /*background-image: url('bg.png');*/
    background-color: rgb(253, 249, 150);
}

#logo_min {
    height : 1.5em;
    width : 1.5em;
    padding : 0.1em;
}

#screen_start {
    width : 55em;
}

#screen_start:active {
    width : 30em;
}

#test {
    width : 30em;
}


.container_nav {
    display : flex;
    background-color: lightblue ;
    flex-direction : row;
    justify-content: center;
    border : 0.1em rgb(0,0,0) solid;
    padding-top : 0.5em;
    padding-bottom : 0.5em;
    justify-content: space-around;
    width : 55em;
    margin : auto;
}

.container_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_grid {
    padding-left : 570px;
    
}

.container_footer{
    display: flex;
    flex-direction : row;
    justify-content: center;
    border-top : 0.1em rgb(253, 249, 150);
    align-items: center;
    padding-top : 0.5em;
}

.bouton {
    height : 2.5em;
    width : 5em;
    background-color: black;
    color : white;
    border-radius : 1em;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr)); /* Ajustez la largeur minimale et la fraction de largeur au besoin */
    gap: 2px;
    justify-content: center;
    gap : 0px;
}

.empty-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px; /* Ajustez la hauteur au besoin pour obtenir des cellules carrées */
    background-color: lightgray; /* Couleur de fond par défaut */
}

.word-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px; /* Ajustez la hauteur au besoin pour obtenir des cellules carrées */
    background-color: lightblue; /* Couleur de fond par défaut */
}