<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Slam Project</title>
        <link href="../static/StyleSheet.css" rel="stylesheet">
        <script src="../static/Script.js" defer></script>
    </head>
    <body>
        <header>
            <img id="logo" src="../static/SlamLogo.png" alt="Logo du jeu Slam" title="Logo Slam">
        </header>
        <nav class="container_nav">
            <div class="bouton"> <a href="SiteSlam.html">Mode 1 joueur</a> </div>
            <div class="bouton"> <a href="Training.html">Mode 2 joueurs</a> </div>
            <div class="bouton"> <a href="SiteSlamPage3.html">Mode 3 joueurs</a> </div>
        </nav>
        <main>
            <div class="container_main">
                <img id="screen_start" src="../static/ScreenStart.jpg" alt="Image de chargement du jeu" title="Start Screen">
                <button id="test" onclick="envoyerRequete()">TEST</button>
                <form action="/traiter_formulaire" method="post">
                    <label for="champ_texte">Entrez une chaîne de caractères :</label>
                    <input type="text" id="champ_texte" name="champ_texte" required>
                    <button type="submit">Soumettre</button>
                </form>    
            </div>                   
            <div id="message" class="container_grid"></div>
        </main>
        <footer class="container_footer">
            <img id="logo_min" src="../static/SlamLogo.png" alt="Logo du jeu Slam" title="Logo Slam">
            <a href="https://www.france.tv/france-3/slam/">Site officiel</a>
        </footer>
    </body>
</html>