<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Slam Project</title>
        <link href="../static/StyleSheet.css" rel="stylesheet">
        <script src="../static/Script.js" defer></script>
    </head>
    <body>
        <header>
            <div id="logo-container">
               <img id="logo" src="../static/SlamLogo.png" alt="Logo du jeu Slam" title="Logo Slam">
               <img id="logo2" src="../static/PontsLogo.png" alt="Logo de l'école des Ponts" title="Logo Ponts">
            </div>
         </header>         
        <nav class="container_nav">
            Slam, le jeu
        </nav>
        <main>
            <div class="container_main">
                <button id="buzz" onclick="envoyerRequeteStart()">START</button>
                <p>{% raw %}{% endraw %}</p>    
            </div> 
            <div class="container_text">
                Bienvenue sur ce site qui va te permettre de jouer au fameux jeu Slam présenté par Cyril Féraud. Pour cette version en ligne voilà comment tu vas pouvoir 
            procéder. <br> Vous devez être 3 sur la même machine et suivre la procédure suivante : <br>
            - Une question va s'afficher. Il faut cliquer sur le bouton "BUZZ". <br>
            - Puis indiquer dans la barre de saise le numéro du joueur qui vient de buzzer. <br>
            - Ensuite, il faut entrer la réponse à la question. <br>
            - Si la réponse est correcte, les lettres s'affichent dans la grille et vous devez saisir le numéro du mot que vous voulez deviner. <br> 
            - Saisissez ensuite la réponse. <br>
            - Si le mot est correct, il s'affiche dans la grille. <br>
            - Vous avez alors la possibilité de Slamer ou de continuer la manche.
            </div>            
        </main>
        <footer class="container_footer">
            <img id="logo_min" src="../static/SlamLogo.png" alt="Logo du jeu Slam" title="Logo Slam">
            <a href="https://www.france.tv/france-3/slam/">Site officiel</a>
        </footer>
    </body>
</html>