<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Slam Project</title>
        <link href="../static/StyleSheet2.css" rel="stylesheet">
        <script src="../static/Script.js" defer></script>
    </head>
    <body>
        <header>
            <div id="logo-container">
               <img id="logo" src="../static/SlamLogo.png" alt="Logo du jeu Slam" title="Logo Slam">
               <img id="logo2" src="../static/PontsLogo.png" alt="Logo de l'école des Ponts" title="Logo Ponts">
            </div>
         </header>         
        <nav class="container_nav">
            <div class="score">Joueur 0 : {{ score1 | safe }}</div>
            <div class="score">Joueur 1 : {{ score2 | safe }}</div>
            <div class="score">Joueur 2 : {{ score3 | safe }}</div>
        </nav>
        <main>      
            <div class="container_main">
                <button id="buzz" onclick="envoyerBuzz()">BUZZ</button>
                <form action="/traiter_formulaire" method="post">
                    <label for="champ_texte">Réponse :</label>
                    <input type="text" id="champ_texte" name="champ_texte" required>
                    <button type="submit">Soumettre</button>
                </form>
                <p>{% raw %}{% endraw %}</p>    
            </div>       
            <div class="container_message">
                <div id="message">{{ message | safe }}</div>
            </div>                               
            <div class="container_message2">
                <div id="message2" class="container_grid">{{ message2 | safe }}</div>
            </div>          
        </main>
        <footer class="container_footer">
            <img id="logo_min" src="../static/SlamLogo.png" alt="Logo du jeu Slam" title="Logo Slam">
            <a href="https://www.france.tv/france-3/slam/">Site officiel</a>
        </footer>         
    </body>
</html>